version: "3.9"

services:
  redis:
    image: redis:latest
    container_name: app-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]
    networks:
      - shared-net

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: files-analyzer
    depends_on:
      redis:
        condition: service_started
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: ["uvicorn", "api:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
    networks:
      - shared-net

  scheduler:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app-scheduler
    depends_on:
      - app
      - redis
    env_file:
      - .env
    command: ["python", "scheduler.py"]
    networks:
      - shared-net

volumes:
  redis_data:

networks:
  shared-net:
    external: true